/* .menu-item-container {
  display: flex;

} */

/* .arrow-container { */
/* justify-content: space-evenly; */
/* display: flex;
  flex-direction: column;
  width: 22px;
  height: 22px;
  padding-left: 135px;
  padding-right: 10px; */
/* flex: none;
  order: 1;
  flex-grow: 0; */
/* } */
/* .arrow-icon {
  padding: 2px;
  align-items: flex-end;
} */

/* top: 9px;
  left: 222px; */
