footer {
  background-color: #094EC7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left:60px;
  margin:0;
  margin-top:20px;
  box-sizing:border-box;
}

footer h2 {
  font-size: 18px;
  color: #FFE3F0;
  margin-bottom: 10px;
  font-weight: bold;
}

footer h3 {
  color:#FFE3F0;
  font-size: 16px;
  white-space: nowrap;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav a {
  color: #FFE3F0;
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
  font-family: 'Clash Grotesk', sans-serif;
}

.subscription-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.subscription-section h2 {
  margin-bottom: 10px;
  color: #FFE3F0;
  font-family: 'Clash Grotesk', sans-serif;
  font-weight:bold;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;

}

.subscribe input[type="text"] {
  height: 40px;
  width: 200px;
  padding: 0 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}



.subscribe h3{
  font-family: 'Clash Grotesk', sans-serif;
  font-weight:lighter;
}

button{
  color:blue;
}
