.Navbar-container {
  padding: 20px;
  position: absolute;
  z-index: 2;
  /* position: sticky;
  background-color: #094ec7; */
}

.navbar-logo {
  width: 50px;
  height: 30px;
  box-sizing: border-box;
  margin-top: 8px; /*Klara*/
  margin-left: 12px;
}
